<div class="map-wrapper">
  <div id="map_canvas">
  </div>
  <% if current_user.picker.nil? %>

    <div id="loading">
      <img src="http://www.webdesign.org/img_articles/13053/loading-gif-animation.gif" alt="loading" />
    </div>
    
    <div class="address-box">
      <!-- <div class="form-group">
        <%#= f.collection_select(:city_id , @cities, :id, :name, {:prompt => false}, options = {class:"form-control"}) %>
      </div> -->
    
      <div class="form-group left-inner-addon">
        <i class="glyphicon glyphicon-map-marker"></i>
        
        <input type="text" class="form-control address-input controls" id="origin-input" placeholder="Pick up address">
        <button class="btn btn-default address-btn" id="set-cp"><span class="glyphicon glyphicon-screenshot"></span></button>
        <button class="btn btn-default address-btn" type="button"><span class="glyphicon glyphicon-star"></span></button>
      </div>
      <div class="form-group left-inner-addon">
        <i class="glyphicon glyphicon-map-marker"></i>
        <input type="text" class="form-control address-input controls" id="destination-input" placeholder="Destination address">
        <button class="btn btn-default address-btn" type="button"><span class="glyphicon glyphicon-star"></span></button>
      </div>
      <!-- <p>Multiple destinations? <a href="#"><span class="glyphicon glyphicon-plus"></span>Add destination</a></p> -->
      <div class="calcs">
        <!-- <hr>
        <h5>Distance: xxx Km | Cost: $xxx </h5>
        <button type="button" class="btn btn-primary pull-right" id="find-btn">Find me a Picker</button> -->
      </div>
    </div>
  <% else %>
    <div class="address-box hide">
      <div class="calcs">
        <!-- <h5>Distance: '+disText+' | Cost: $'+cost+'</h5><button type="button" class="btn btn-primary pull-right" id="take-service">Take Service</button><button type="button" class="btn btn-default pull-right" id="cancel-service">Cancel</button> -->
      </div>
    </div>
  <% end %>
</div>

<script>
  initialize();
  <% if current_user.picker.nil? %>
    setDirections();
  <% else %>
    var services = <%= @trips.to_json.html_safe %>;
    showServices(services);
  <% end %>
</script>

