<div class="map-wrapper">
  <div id="map_canvas"></div>
  <div class="address-box">
    <div class="form-group left-inner-addon">
      <i class="glyphicon glyphicon-map-marker"></i>
      <input type="text" class="form-control address-input" id="OriginInput" placeholder="Pick up address">
      <button class="btn btn-default address-btn" type="submit"><span class="glyphicon glyphicon-screenshot"></span></button>
      <button class="btn btn-default address-btn" type="submit"><span class="glyphicon glyphicon-star"></span></button>
    </div>
    <div class="form-group left-inner-addon">
      <i class="glyphicon glyphicon-map-marker"></i>
      <input type="text" class="form-control address-input" id="DestinationInput" placeholder="Destination address">
      <button class="btn btn-default address-btn" type="submit"><span class="glyphicon glyphicon-star"></span></button>
    </div>
    <button type="Go" class="btn btn-primary pull-right" id="go-btn">Go</button>
  </div>
</div>

<script type="text/javascript">
  function initialize() {
    var myPosition = new google.maps.LatLng(6.2087601, -75.5707247)
    var mapOptions = {
      center: myPosition,
      zoom: 15,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    var map = new google.maps.Map(document.getElementById("map_canvas"),
        mapOptions);

    var marker = new google.maps.Marker({
      position: myPosition,
      map: map,
      title: "You Are Here"
    });

  }
</script>

<script>initialize()</script>

