<div class="main-welcome">
  <div class="container sub-container">
    <h1>SAFE DRIVING FOR LIFE</h1>
    <br>
    <p class="lead">Find your safe way home just one click away with Pickers </p>
    <hr>
    <br>
    <%= link_to "Start", start_path, class:"btn btn-default btn-lg", id:"start-btn" %>
  </div><!--fin class container-secundario-->
</div>
