/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Amaranth:700,400);


html {
  width: 100vw;
}

body {
  width: 100vw;
  height: calc(100vh - 75px);
  padding-bottom: 40px;
}

.navbar.navbar-inverse {
  height: 75px;
  margin-bottom: 0px;
  .navbar-brand {
    font-weight: bold;
    font-size: 48px;
    font-family: 'Amaranth', sans-serif;
  }
  #bs-example-navbar-collapse-1, .navbar-header {
    margin-top: 10px;
  }
  a {
    color: #ccc;
  }

}

.address-box {
  position: absolute;
  width: 460px;
  left: 6%;
  top: 13%;
  background: white;
  border-radius: 8px;
  padding: 10px 10px 4px;
  box-shadow: 9px 9px 9px rgba(0,0,0,0.4);
  .left-inner-addon {
  position: relative;
  }
  .left-inner-addon input {
      padding-left: 30px;    
  }
  .left-inner-addon i {
      position: absolute;
      padding: 10px 12px;
      pointer-events: none;
      color: #aaa;
  }
  .span.glyphicon {
    text-align: center;
    display: inline-block;
  }
  .address-input {
    display: inline-block;
    width: 350px;
  }
  #find-btn, 
  #take-service {
    margin: 0px 5px 5px 5px;
  }
}


#map_canvas { 
  height: calc(100vh - 75px);
  width: 100vw;
}


.user-form {
  background: rgba(0, 0, 0, 0.6);
  margin-top: 12%;
  border-radius: 12px;
  padding: 15px;
  color: white;
  .dev-form-title {
    text-align: center;
    font-family: 'Amaranth', sans-serif;
  }
}

.alert {
  margin-bottom: 0px;
}

#loading {
  position: absolute;
  background-color: #000000;
  opacity: 0.8;
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  display: none;
}

